.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantages__list {
    display: flex;
    @include flex-settings(30px, center);
}
.advantages__item {
    flex-basis: calc(100% - 3 * 30px / 4);
}
.advantages__item::before {
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 6px;
    background-color: $main-color;
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/badges_1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.advantages__item:nth-child(2)::before {
    background-image: url(../images/badges_2.svg);
}
.advantages__item:nth-child(3)::before {
    background-image: url(../images/badges_3.svg);
}
.advantages__item:nth-child(4)::before {
    background-image: url(../images/badges_4.svg);
}
.advantages__subtitle {
    color: $add-color;
    @include text-settings(0.42px, normal, 14px);
    margin-bottom: 10px;
}
.advantages__text {
    color: $add-gray;
    @include text-settings(0.42px, 1.71, 14px);
}