.company {
    padding-top: 94px;
    padding-bottom: 94px;
}
.company__subtitle {
    color: $add-color;
    text-align: center;
    font-weight: 700;
    @include text-settings(1.08px, normal, 36px);
    margin-bottom: 50px;
}
.company__list {
    display: flex;
    @include flex-settings(30px, center);
}
.company__link {
    display: flex;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}
.company__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company__link:hover .company__icon,
.company__link:focus .company__icon {
    fill: $accent-color;
}