.company {
    padding-top: 94px;
    padding-bottom: 94px;
}
.company-subtitle {
    color: var(--add-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.company-list {
    display: flex;
    gap: 30px;
}
.company-item-link {
    display: flex;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-item-link:hover,
.company-item-link:focus {
    border: 1px solid var(--accent-color);
}
.company-item-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-item-link:hover .company-item-icon {
    fill: var(--accent-color);
}
.company-item-link:focus .company-item-icon {
    fill: var(--accent-color);
}