.company {
    padding: 60px 0;
    @media screen and (min-width:1200px) {
        padding: 94px 0;
    }
}
.company__subtitle {
    color: $add-color;
    text-align: center;
    font-weight: 700;
    @include text-settings(0.84px, normal, 28px);
    margin-bottom: 30px;
    @media screen and (min-width:1200px) {
        @include text-settings(1.08px, normal, 36px);
        margin-bottom: 50px;
    }
}
.company__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
}
.company__item {
    @include flex-basis(30px, 2);
    @media screen and (min-width:768px) {
        @include flex-basis(30px, 3);
    }
}
.company__link {
    display: flex;
    justify-content: center;    
    border-radius: 4px;
    border: 1px solid #afb1b8;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}
.company__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company__link:hover .company__icon,
.company__link:focus .company__icon {
    fill: $accent-color;
}