.footer {
    background: $bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.address {
    font-style: normal;
}
.address__link {
    color: rgba(255, 255, 255, 0.6);
    @include text-settings($letter-spacing: 0.42px, 
    $line-height: 1.71, $font-size: 14px);
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 70px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:first-child {
        color: $white;
        margin-top: 20px;
    }
}
.footer .container {
    display: flex;
}
.footer__div-address {
    padding-top: 10px;
}
.footer-social__div {
    padding-top: 15px;
}
.footer-social__text {
    color: $white;
    font-weight: 700;
    @include text-settings($letter-spacing: 0.42px, 
    $line-height: normal, $font-size: 14px);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-social__icon {
    fill: $white;
}
.footer-social__link {
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    @include flex-settings($justify-content: center);
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $accent-color;
        cursor: pointer;
    }
}
.footer-social__list {
    display: flex;
    @include flex-settings($gap: 10px, $justify-content: center);
}
.footer-div-form__form {
    display: flex;
    align-items: center;
    @include flex-settings($gap: 12px);
}
.footer-div-form__text {
    color: $white;
    font-weight: 700;
    @include text-settings($letter-spacing: 0.42px, 
    $line-height: normal, $font-size: 14px);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-div-form__input {
    color: rgba(255, 255, 255, 0.6);
    @include text-settings($letter-spacing: 0.48px, $line-height: 20px);
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 358px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: $accent-color;
        outline: none;
    }
}
.footer-div-form {
    margin-left: 93px;
    padding-top: 10px;
}