.header {
    padding-top: 25px;
    padding-bottom: 24px;
}
.header__container {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    @include flex-settings($gap: 50px);
}
.nav__link {
    color: $add-color;
    font-weight: 500;
    @include text-settings($letter-spacing: 0.28px, $font-size: 14px);
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.nav__link--current {
    color: $accent-color;
    &:hover::after {
        transform: scale(1.2);
    }
    &::after {
        content: "";
        display: block;
        width: 102%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 4px;
        position: absolute;
        bottom: 0;
        top: 42px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.contact {
    display: flex;
    @include flex-settings($gap: 50px);
    margin-left: auto;
}
.contact__link {
    display: flex;
    align-items: center;
    color: $add-gray;
    font-weight: 500;
    @include text-settings($letter-spacing: 0.28px, $font-size: 14px);
    text-decoration: none;
    @include flex-settings($gap: 10px);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.contact__icon {
    fill: $add-gray;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-link:hover .contact-item-icon,
.contact-item-link:focus .contact-item-icon {
    fill: $accent-color;
}