%btn {
    font-weight: 700;
    @include text-settings($letter-spacing: 0.96px);
    border-radius: 4px;
    background: $accent-color;
    border: none;
}
.footer__btn {
    @extend %btn;
    color: $white;
    display: flex;
    align-items: center;
    @include text-settings($line-height: 30px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    @include flex-settings($gap: 10px);
    padding-right: 28px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.7;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        background-image: url(../images/telegram-send.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.hero__btn {
    @extend %btn;
    color: $white;
    @include text-settings($line-height: 1.87);
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        opacity: 0.9;
    }
}
.modal__btn {
    border: 2px solid #0000001a;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    @include flex-settings($justify-content: center);
    position: absolute;
    background: none;
    right: 8px;
    top: 8px;
}
.modal__submit {
    @extend %btn;
    color: $white;
    @include text-settings($line-height: 30px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    padding: 10px 52px 10px 52px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.8;
    }
}