.logo {
    font-family: Raleway;
    // @include text-settings(0.78px, normal, 26px);
    @include text-settings(0.72px, normal, 24px);
    // margin-right: 93px;
    color: #000;
}
.logo__accent {
    color: $accent-color;
}
.footer__logo {
    color: $white;
    margin-bottom: 20px;
}