.logo {
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
    color: #000;
}
.logo__accent {
    color: $accent-color;
}
.footer__logo {
    color: $white;
    margin-bottom: 20px;
}