.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.filters__btn {
    min-width: 73px;
    padding: 6px 22px;
    border-radius: 4px;
    background: $main-color;
    color: $add-color;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background: $accent-color;
        color: $white;
        cursor: pointer;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
            0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}
.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.projects__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.projects__item:hover,
.projects__overlay {
    transform: translateY(0);
}
.projects__wrapper-image {
    position: relative;
    overflow: hidden;
}
.projects__overlay {
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms ease;
}
.projects__overlay-text {
    color: $white;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
}
.projects__link:hover .projects__overlay {
    transform: translateX(0);
}
.projects__link {
    display: block;
    border: 1px solid #eee;
    background: $white;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}
.projects__wrapper {
    padding: 20px 24px;
}
.projects__subtitle {
    color: $add-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}
.projects__text {
    color: $add-gray;
    line-height: 1.87;
    letter-spacing: 0.48px;
}